@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #006E15;
    --secondary-color: #25ac33;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container{
    background-color: var(--primary-color);
    padding: 1rem;
}

.menu-lista{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-lista a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 7px;
    transition: 0.3s;
}

.menu-lista a:hover{
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.dropdown{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    list-style: none;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,2);
    z-index: 1;
}

.submenu li a{
    padding: 12px 16px;
    display: block;
    font-size: 14px;
}

.dropdown:hover .submenu{
    display: block;
}

.submenu li a:hover{
    background-color: var(--secondary-color);
}

@media (max-width: 600px) {
    .menu-lista{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .submenu{
        position: static;
        width: 100%;
        box-shadow: none;
        background-color: var(--primary-color);
    }
}